.abc {
  width: 10px;
}
@font-face {font-family: 'VolvoNovum-Regular';src: url('@/assets/font/VolvoNovum-Regular.ttf');font-weight: normal;font-style: normal;
}
.main-page {
  background-color: #ffffff !important;
}
